{% extends "imagersite/base.html" %}

{% block content %}
    <jumbotron>
        <container class="col-md-10 col-md-offset-1">
            <section class="row detail">
                <h2 class="text-center">Album Detail</h2>
                {% if album.cover.url %}
                    <h3 class="text-center">{{ album.title }}</h3>
                    <img src="{{ album.cover.url }}" width="500px"/>
                    <p> <strong>Description: </strong>{{ album.description }} </p>
                    <p> <strong>Photographer: </strong> {{ album.photographer.user.username }}</p>
                    <p> <strong>Date published: </strong> {{ album.date_published }}</p>
                {% endif %}
            </section>
            <br>
            <br>
            <section class="row library">
                {% if photos %}
                <h2 class="text-center">Album Photos</h2>
                <br>
                <ul class="list-unstyled">
                    {% for photo in photos %}
                        <li class="col-md-6 text-center">
                            <a href="{% url 'photo_detail' photo.id %}">
                                <img class="imglib" src="{{ photo.image.url }}" width="300px"/>
                            </a>
                            <ul class="row" style="padding-bottom: 10%;">
                                <p> Tags: </p>
                                {% for tag in photo.tag.slugs %}
                                <li class="text-left list-inline" style="display: inline-block; padding-right: 5%;">
                                <a href="{% url 'tagged_photos' slug=tag %}">
                                    {{ tag }}
                                </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                    {% endif %}
            </section>
             <div class="row text-center">
                <section class="pagination text-center">
                    <span class="step-links">
                        {% if photos.has_previous %}
                        <li class="list-unstyled"><a class="btn btn-default" href="?page={{ photos.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% if photos.has_next %}
                        <li class="list-unstyled"><a class="btn btn-default" href="?page={{ photos.next_page_number }}">Next</a></li>
                        {% endif %}
                    </span>
                </section>
            </div>
            <section class="row library text-center">
            <br>
            <br>
            {% if request.user.id == album.photographer_id %}
            <a class="btn btn-default btn-md" href="{% url 'add_photo' %}"><strong>Add Photos</strong></a>
            <a class="btn btn-default btn-md" href="{% url 'remove_album' pk=album.pk %}"><strong>Delete Album</strong></a>
            <a class="btn btn-default btn-md" href="{% url 'album_edit' pk=album.pk %}"><strong>Edit</strong></a>
            <br>
            <br>
            {% endif %}
            </section>
        </container>
    </jumbotron>
{% endblock content %}