{% extends "imagersite/base.html" %}

{% block content %}
    <section>
        <h2>Album Detail</h2>
        {% if album.cover.url %}
            <h3>{{ album.title }}</h3>
            <img src="{{ album.cover.url }}" width="500px"/>
            <p> <strong>Description: </strong>{{ album.description }} </p>
            <p> <strong>Photographer: </strong> {{ album.photographer.user.username }}</p>
            <p> <strong>Date published: </strong> {{ album.date_published }}</p>
        {% endif %}
        <h2>Album Photos</h2>
        {% for photo in photos %}
            <a href="{% url 'photo_detail' photo.id %}">
                <img src="{{ photo.image.url }}" width="300px"/>
            </a>
        {% endfor %}
    {% if request.user.id == album.photographer_id %}
    <a href="{% url 'remove_album' pk=album.pk %}"><strong>Delete Album</strong></a>
    <a href="{% url 'album_edit' pk=album.pk %}"><strong>Edit</strong></a>
    {% endif %}
    </section>
{% endblock content %}