{% extends "imagersite/base.html" %}

{% block content %}
    <jumbotron>
        <container>
            <div class="row library">
                <section class="col-md-10 col-md-offset-1">
                    <h2 class="text-center text-capitalize">{{ user }}'s Library</h2>
                    <h3> Photos </h3>
                        <ul class="list-unstyled">
                            {% for photo in photos %}
                                <li class="col-md-4">
                                    <a href="{% url 'photo_detail' photo.id %}">
                                        <img src="{{ photo.image.url }}" width="300px" />
                                    </a>
                                    <ul class="row" style="padding-bottom: 10%;">
                                        <p> Tags: </p>
                                        {% for tag in photo.tag.slugs %}
                                        <li class="text-left list-inline" style="display: inline-block; padding-right: 5%;">
                                        <a href="{% url 'tagged_photos' slug=tag %}">
                                            {{ tag }}
                                        </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    <div class="pagination row">
                        <span class="step-links">
                        <ul>
                            {% if photos.has_previous %}
                            <li><a href="?page={{ photos.previous_page_number }}" class="btn btn-default">Previous Page</a></li>
                            {% endif %}
                            <span class="current">
                            Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
                            </span>
                            {% if photos.has_next %}
                            <li><a href="?page={{ photos.next_page_number }}" class="btn btn-default">Next Page</a></li>
                            {% endif %}
                        </ul>
                        </span>
                    </div>
                </section>
            </div>
            <br>
            <br>
            <div class="row">
                <section class="col-md-10 col-md-offset-1">
                    <a href="{% url 'add_photo' %}" class="btn btn-default">Upload Photo</a>
                </section>
            </div>
            <br>
            <div class="row library">
                <section class="col-md-10 col-md-offset-1">
                    <h3> Albums </h3>
                        <ul class="list-unstyled">
                            {% for album in albums %}
                                <li>
                                    <a href="{% url 'album_detail' album.id %}">
                                        <img src="{{ album.cover.url }}" width="300px"/>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                </section>
            </div>
            <br>
            <br>
            <div class="row">
                <section class="col-md-10 col-md-offset-1">
                    <a href="{% url 'add_album' %}" class="btn btn-default">Create New Album</a>
                </section>
            </div>
        </container>
    </jumbotron>
{% endblock content %}