{% extends "imagersite/base.html" %}

{% load thumbnail %}

{% block content %}
    <section>
        <h2>{{ user }}'s Library</h2>
        <h3> Photos </h3>
        {% for photo in photos %}
            {% thumbnail photo "100x100" crop="center" %}
                <a href="{% url 'photo_detail' photo.id %}">
                    <img src="{{ photo.image.url }}" width="{{ photo.image.width }}" height="{{ photo.image.height }}" />
                </a>
            {% endthumbnail %}
        {% endfor %}
        <h3> Albums </h3>
        {% for album in albums %}
            <a href="{% url 'album_detail' album.id %}">
                <img src="{{ album.cover.url }}" />
            </a>
        {% endfor %}
    </section>
{% endblock content %}