{% extends "imagersite/base.html" %}

{% block content %}
    <section>
        <h2>{{ user }}'s Library</h2>
        <h3> Photos </h3>
            <ul>
                {% for photo in photos %}
                    <li>
                        <a href="{% url 'photo_detail' photo.id %}">
                            <img src="{{ photo.image.url }}" width="300px" />
                        </a>
                        <button type="submit">Edit</button>
                    </li>
                {% endfor %}
            </ul>
        <a href="{% url 'add_photo' %}">Upload Photo</a>
        <h3> Albums </h3>
            <ul>
                {% for album in albums %}
                    <li>
                        <a href="{% url 'album_detail' album.id %}">
                            <img src="{{ album.cover.url }}" width="300px"/>
                        </a>
                        <button type="submit">Edit</button>
                    </li>
                {% endfor %}
            </ul>
        <a href="{% url 'add_album' %}">Create New Album</a>
    </section>
{% endblock content %}