{% extends "imagersite/base.html" %}

{% block content %}
    <jumbotron>
        <container>
            <div class="row library">
                    <h2 class="text-center">Gallery of User Photos</h2>
                    <h3 class="text-center"> Photos </h3>
                    <section class="col-md-10 col-md-offset-2">
                    {% if slug %}
                            <h3 class="text-center">Tag: {{ slug }}</h3>
                    {% endif %}
                    <ul class="list-unstyled">
                        {% for photo in photos %}
                            <li class="col-md-6">
                                <a href="{% url 'photo_detail' photo.id %}">
                                <img class="libimg" src="{{ photo.image.url }}" width="300px"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            <div class="row text-center">
                <section class="pagination text-center">
                    <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default"> Previous </a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default"> Next </a>
                    {% endif %}
                    </span>
                </section>
            </div>
        </container>
    </jumbotron>
{% endblock content %}