{% extends "imagersite/base.html" %}

{% block content %}
    <jumbotron>
        <container>
            <section class="row detail">
                <h2 class="text-center">Detail View</h2>
                <br>
                <img src="{{ photo.image.url }}" width="500px" class="text-center"/>
                <br>
                <br>
                <p><strong>Title: </strong> {{ photo.title }} </p>
                <p><strong>Description: </strong>{{ photo.description }}</p>
                <p><strong>Date Published: </strong>{{ photo.date_published }}</p>
                <p><strong>Photographer: </strong>{{ photo.photographer.user.username }}</p>
                <p><strong>Tags:
                    <ul>
                    {% for tag in photo.tag.slugs %}
                        <a href="{% url 'tagged_photos' slug=tag %}">
                        <li class="text-left list-unstyled">
                        {{ tag }}
                        </li>
                        </a>
                    {% endfor %}
                    </ul>
                </strong>
                <p>
                {% if request.user.id == photo.photographer_id %}
                    <a class="btn btn-default btn-md" href="{% url 'remove_photo' pk=photo.pk %}"><strong>Delete</strong></a>
                    <a class="btn btn-default btn-md" href="{% url 'photo_edit' pk=photo.pk %}"><strong>Edit</strong></a>
                {% endif %}
            </section>
            <div class="row library">
                <section class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">You might also like...</h2>
                    <br>
                    <ul class="list-unstyled">
                    {% for photo in similar_photos %}
                        <li class="col-md-4">
                            <a href="{% url 'photo_detail' photo.id %}">
                                <img src="{{ photo.image.url }}" width="300px" style="padding: 5%;"/>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </section>
            </div>
        </container>
    </jumbotron>
{% endblock content %}