{% extends "imagersite/base.html" %}

{% block content %}
    <section>
        <h2>Detail View</h2>
        <img src="{{ photo.image.url }}" width="500px" />
        <p><strong>Title: </strong> {{ photo.title }} </p>
        <p><strong>Description: </strong>{{ photo.description }}</p>
        <p><strong>Date Published: </strong>{{ photo.date_published }}</p>
        <p><strong>Photographer: </strong>{{ photo.photographer.user.username }}</p>
        <a href="{% url 'remove_photo' pk=photo.pk %}"><strong>Delete Photo</strong></a>
        <a href="{% url 'photo_edit' pk=photo.pk %}">Edit</a>
    </section>
{% endblock content %}