{% extends "imagersite/base.html" %}

{% block content %}
    <jumbotron>
        <container>
            <div class="row library">
                <section class="col-md-10 col-md-offset-1">
                    <h2 class="text-center">Gallery of User Photos</h2>
                    <h3 class="text-center"> Photos </h3>
                    <ul class="list-unstyled">
                        {% for photo in photos %}
                            <li class="col-md-4">
                                <a href="{% url 'photo_detail' photo.id %}">
                                    <img class="libimg" src="{{ photo.image.url }}" width="300px"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </container>
    </jumbotron>
{% endblock content %}