<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
            <nav>
                <h1><a href="{% url 'home'%}">Imager</a></h1>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'library' %}">Library</a></li>
                    <li><a href="{% url 'photo_gallery' %}">Photos</a></li>
                    <li><a href="{% url 'album_gallery' %}">Albums</a></li>
                    <li><a href="{% url 'add_photo' %}">Add a Photo</a></li>
                    <li><a href="{% url 'add_album' %}">Add an Album</a></li>
                </ul>
            </nav>
            <p>Look this is Imager</p>
        </header>
            {% block content %}
            {% endblock content %}
        <footer>
            <p>Created by Avery + Rachael</p>
        </footer>
    </body>
</html>