{% extends "imagersite/base.html" %}

{% block content %}
    <jumbotron>
        <container>
            <section class="row profile">
                <h2 class="text-center">Edit Profile</h2>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <button type="submit" value="update" class="btn btn-default">Save</button>
                    </form>
                </div>
            </section>
        </container>
    </jumbotron>
{% endblock %}